
body{
  background-color: rgb(32, 31, 31);
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure the container takes up at least the viewport height */
  /* display: flex; */
  /* flex-direction: column; */

}

.chat {
 /* Allow chat area to expand to fill remaining space */
  max-height: calc(100vh - 400px); 
  /* height: 440; */
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;

}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 50%;
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start;
}

.input-container {
  position: absolute;
  bottom:-67px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(243, 240, 240);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow to separate the input container from the chat */
}

.input-container label {
  margin-bottom: 5px;
}

.input-container input[type="file"],
.input-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 20px);
}

.input-container button {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #0056b3;
}
